.Searchlist {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 40px;
  padding: 50px;
  width: 100%;
}
.Searchlist_div {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  text-align: center;

  div:nth-child(1) {
    width: 130px;
    text-align: start;
  }
  div:nth-child(2) {
    width: 100px;
  }
  div:nth-child(3) {
    width: 150px;
  }
}
.Searchlist_div1 {
  display: flex;
  margin-bottom: 5px;
  div:nth-child(1) {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    color: blue;
  }
}
.Searchlist_div2 {
  display: flex;
  margin-top: 5px;

  div:nth-child(1) {
    font-weight: bold;
  }
}
.Searchlist_Hr {
  margin-top: 5px;
}
