.Coin {
  .CoinDiv {
    display: flex;
    font-size: 1.5rem !important;
    font-weight: 900;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    button {
      font-weight: bold;

      color: white;
      font-size: 14px;
      background-color: #9a62e6;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      text-align: center;
      outline: none;
      border-radius: 5rem;
    }
  }
}

.CoinTitel {
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 10px 10px 10px;
  margin-bottom: 30px;
  background-color: white;
  height: 1089px;
  max-height: 1089px;
}
.tbl_type {
  thead {
    .CoinTr {
      th {
        border: none;
        color: #868e96;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid rgb(231, 231, 229);
      }
    }
  }
}

.tbl_type {
  border: none;
  color: #868e96;
  font-weight: bold;
  .CoinTbody {
    white-space: nowrap;
    border: none;
    color: #868e96;
    font-weight: bold;
    tr {
      border-bottom: 1px solid rgb(231, 231, 229);
      td {
        font-size: 14px;
      }
      td:nth-child(1) {
        width: 7%;
      }
      td:nth-child(2) {
        width: 40%;

        text-align: justify;
      }
      td:nth-child(3) {
        width: 12%;
      }
      td:nth-child(4) {
        width: 10%;
      }
      td:nth-child(5) {
        width: 7%;
      }
    }
  }
}
.CoinEndDiv1 {
  .CoinEndDiv2 {
    width: 100%;
    font-size: 14px;
    display: flex;
    letter-spacing: 13px;
    justify-content: center;
    font-weight: bold;
  }
}
