.SignUp {
  width: 100%;
}

.text-lg {
  text-align: center;
}

p {
  .SignUp_input {
    margin-top: 10px;

    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999999;
  }
  .SiguUpBtndiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .join_row {
    text-align: center;
    width: 100%;

    .Joindiv {
      margin: 20px 0px 0px 0px;
      text-align: center;
    }
  }
}

.SignUpBtn1 {
  width: 100%;
  height: 0px;
  font-size: 14px;
  padding: 17px 30px;
  cursor: pointer;
  background-color: black;
  color: white;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 3px;
  border-style: none;
}
@media all and (min-width: 1024px) {
  .input-forms {
    padding: 70px;
    input {
      width: 400px;
    }
  }
}
@media all and (max-width: 1024px) {
  .input-forms {
    padding: 60px;
    input {
      width: 330px;
    }
  }
}

@media all and (max-width: 768px) {
  .input-forms {
    padding: 50px;
    input {
      width: 300px;
    }
  }
}
.signup-wrapper {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input-forms {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .input-label {
      font-size: 1.2rem;
      font-weight: bold;
      color: #282c34;
    }

    .input-forms-item {
      padding: 7px 0;
      .error-message {
        font-size: 1rem;
        color: blue;
        font-weight: bold;
      }
    }
  }
}
